body{
    margin: 0;
    background-color: rgb(59, 25, 25);
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
    
}
.card{
    background-color: rgb(199,168 ,168 );
    border: 1px solid grey;
    text-align: center;
    padding: 60px;
    box-shadow: 0px 4px 15px
    
}
button{
    margin-top: 20px;
    color:white ;
    background-color: rgb(41, 40, 40);
    border: none;
    width: 150px;
    height: 40px;


}
.h5{
    font-size: 12px;
    letter-spacing: 5px;
color: rgba(128, 128, 128, 0.772);
}

h1{
    
    font-weight: normal;
    margin : 20px;
}
.divider{
    height: 2px;
    width: 50px;
    background-color: goldenrod;
    margin: 20px auto;
}
.h{
    color: rgb(59, 58, 58);
}
.hh{
    font-style: italic;
    color: rgb(100, 100, 100);
}
h3{
    letter-spacing: 2px;
}