:root{
    --primary: rgb(22, 129, 250);
    --bg-body: wheat;
    --bg-card: white;
    --text-main: #1f1f1f;
    --text-muted: #6b7280;
    --border: rgb(94, 94, 94);
    --input-bg:white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    background:var(--bg-body);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.survey-form{
    background: var(--bg-card);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 25px var(--text-main);

}

header h1{
    margin: 0;
    font-size: 2rem;
}
header p{
    color: var(--text-muted);
    font-size: 0.9;
    margin-top: 5px;
}

.toggle{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.switch{
    width: 44px;
    height: 22px;
    background: rgb(102, 95, 95);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.switch::after{
    content:'' ;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;

}

#theme:checked ~ .from-wrapper .switch::after{
    left: 24px;

}
#theme:checked ~ .from-wrapper .switch{
background-color: var(--primary);}


#theme:checked ~ .from-wrapper  {
    color: aliceblue;
    --primary: rgb(22, 129, 250);
    --bg-body: rgb(134, 49, 49);
    --bg-card: rgba(17, 16, 20, 0.84);
    --text-main: #ffffff;
    --text-muted: #f7f9c4;
    --border: rgb(206, 190, 190);
    --input-bg:white;
}
.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 8px;
}
.star-rating{
    display: flex;
    flex-direction:row-reverse ;
    justify-content: start;

}
.star-rating input {
    display: none;
}

.star-rating label {
    color: rgb(141, 134, 134);
    cursor: pointer;
    transition: 0.2s;

}
.star-rating input:checked ~ label,
.star-rating input :checked ~ label,
.star-rating label:hover{
    color: yellow;
}

input[type="text"], input[type="date"], input[type="file"]{
    width: 100%;
    padding: 15px;
    border:2px solid grey;
    border-radius: 10px;
}
input[type="checkbox"]{
    display: none;
}


.file-upload{
    border: 2px dashed var(--text-muted);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}
.file-upload:hover{
     border: 2px dashed var(--input-bg);
}
input[type="range"]{
    accent-color: red;
    width: 100%;
    height: 4px;
}

button{
    background-color: var(--primary);
    color: white;
      width: 100%;
    padding: 15px;
    border:2px solid rgba(128, 128, 128, 0.349);
    border-radius: 10px;
}

.range-levels{
    display: flex;
    justify-content: space-between;
}