body{
    font-family: sans-serif;
    background-color: rgba(235, 242, 252, 0.769);
}
.flex{
    display: flex;
    align-items: center;
}
.div{
    background-color: rgba(120, 119, 119, 0.372);
    height: 20px;
    width: 3px;
    margin-left: 3%;
    margin-right: 3%;
}
.main-div{
box-shadow: 0px 0px 3px 2px;
    margin-top: 500px;
    border-radius: 20px;
    padding: 50px;
    width: 300px;
    background-color: white;
    margin: 0 auto;
}
.diw{
      margin-left: 3%;
    margin-right: 3%;

    height: 20px;
    width: 3px;

    background-color: rgb(35, 182, 35);
}
#p{
    color: rgb(35, 182, 35);
}
.atul{
    width: 300px;
    background-color: rgba(109, 99, 99, 0.621);
    height: 2px;
    
}

.para{
    color: rgba(129, 124, 124, 0.42);
}