*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(213, 213, 221);
}
.content2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(254, 254, 254);
    margin-top: 30px;
    box-shadow: 1px 1px 10px;
    width: 1100px;
    height: 220px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    position: relative;
}
h4{
    position: absolute;
    bottom: 15px;
    left: 20px;
}
button{
      position: absolute;
    bottom: 15px;
    right: 20px;
}
img{
    width: 150px;
    height: 100px;
    border-radius: 20px;
}
.img{
    display: flex;
    align-items: center;
}
.price{
    display: flex;
    justify-content: space-between;
}

.cart a{
color: blue;
text-decoration: none;
}
.cart{
    display: flex;
    justify-content: space-between;
    width: 1090px;
}
button{
    background-color: blue;
    border: none;
    color: white;
    height: 30px;
    width:80px ;
    border-radius: 20px;

}
p{
    font-size: 20px;
}
h3{
    color: rgb(91, 89, 89);
    font-weight: 200;
    margin-left: 20px;
}
h6{
    font-size: 15px;
}

.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 30px;
}
h2{
      font-weight: 399;
    margin-left: 20px;
}

 button{
        cursor: pointer;
    }
    button:hover{
        color: aqua;
    }
    button:active{
        background-color: rgb(93, 87, 87);
    }
    a{
        cursor: pointer;
    }