body{
    background-color: rgba(215, 244, 250, 0.735);
    height: 100vh;
    width: 100vw;
}
.main{
    height: auto;
    width: 580px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    padding: 50px;
    padding-top: 120px;
    text-align: center;
    border-radius: 20px;
    margin-left:22%;
    margin-top: 4%;
}
.tick{
    position: absolute;
    top: 30px;
    left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;border-radius: 50%;
    background-color: rgb(6, 255, 43);
    color: white;
    width: 100px;
    height: 100px;
    font-size: 50px;
}
#Continue{
    padding: 8px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;

}
#view-cart{
 padding: 8px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;}


    button{
        cursor: pointer;
    }
    button:hover{
        color: aqua;
    }
    button:active{
        background-color: rgb(93, 87, 87);
    }