body{
    
    background-color: rgba(224, 224, 239, 0.543);
}
.rtx20{
    width:  380px;
    height:  300px;
    background-image: url(https://images.unsplash.com/photo-1591405351990-4726e331f141?auto=format&fit=crop&q=80&w=800);
    color: white;
    background-size: cover;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 1px;
}
.camera{
    background-image: url(https://images.unsplash.com/photo-1516035069371-29a1b244cc32?auto=format&fit=crop&q=80&w=500);
    height: 300px;
    width:210px;
    background-size: cover;
    border-radius: 20px;
    padding-left: 10px;
    
}
.camera h2{
        margin-top: 210px;

}
.battery{
      
    
    background-image: url(https://media.istockphoto.com/id/1046965420/vector/battery-charging.jpg?s=612x612&w=0&k=20&c=z-6RsjaOD8l_fjLt7hiSAtvzGcl7zXtB25IRJKtafD4=);
    background-size: cover;
    height: 30px;
    width: 40px;
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.container h2{
    color: white;
}
.container p{
    color: rgb(168, 167, 165);
}
.text{
    height:50px ;
}

.fiveG{
    background-image: url(https://www.qualcomm.com/content/dam/qcomm-martech/dm-assets/images/components/two-column-hdi/side/what-is-5g-side-image.png?$QC_Responsive$&fmt=png-alpha);
    height:150px ;
    width: 150px;
    background-size: cover;
    margin-left: 80px;
}
.fGtext{
    border-radius: 20px;
    padding-left: 20px;
    height: 150px;
    width: 380px;
    background-color: white;
    display: flex;
}
.face{
    margin-top: 10px;
    margin-left: 60px;
    height:30px ;
    width: 30px;
    background-size: cover;

    background-image: url(https://img.icons8.com/ios-filled/50/000000/face-id.png);
}
.face-con{

    border-radius: 20px;
    text-align: center;
    background-color: white;
    height:150px ;
    width: 150px;
}
.dis-img{
     margin-top: 10px;
    margin-left: 100px;
    height:30px ;
    width: 30px;
    background-size: cover;
    background-image: url(https://img.icons8.com/ios-filled/50/000000/monitor.png);
}

.display{
    background-color: white;
     height:150px ;
    width: 230px;
    border-radius: 20px;
}
.dis-text
{
text-align: center;
}


.bett-con{
    
    height:137.80  ;
    width:100;
    background-color: white;
    border-radius: 20px;
    padding-left: 50px;
}

.main{
    margin: 0 auto;
    width: 850px;
    margin-top: 130px;
}

div{
    transition: transform 0.5s ease;
}
div:hover{
    transform: translateY(-5px);
}